/****** Main Styling ******/
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
	font-family: 'Sora', 'Poppins', 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	text-align: center;
	color: #222;
  background-color: #F06124;

  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.container {
	padding: 20px;
	margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
}

.container a {
  color: #A34218;
}

h1 {
  color: white;
}

h3 {
  margin-top: 30px;
  color: white;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: 'Fira Code', monospace;
  line-height: 2rem;
  color: #222;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

p {
  color: #A34218;
}

a {
	color: white;
}
